input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 480px) { 
  input[type=number] {
    padding: 2px;
    font-size: .75rem;
  }
}